header {
    display: block;
    min-width: 600px;
    height: 30px;
    margin-top: 15px;
}

body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    margin: 0px;
    min-height: 500px;
    min-width: 1000px;
}

#menu {
    width: 18px;
    margin: 6px;
    height: auto;
}

.nav-element {
    float: right;
    line-height: 30px;
    margin-left: 12px;
}

.nav-element a {
    color: black;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.icon {
    margin-left: 19px;
}

.nav-element:first-child {
    margin-right: 10px;
}

#profile {
    margin: auto;
    text-align: center;
    border-radius: 50%;
    background: rgb(255, 81, 0);
    width: 30px;
    height: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: white;
}

.center {
    text-align: center;
    min-width: 600px
}

.image {
    margin-top: 25px;
}

#logo {
    display: block;
    margin: auto;
}

.input-group {
    width: 600px;
    height: 46px;
    border-top-left-radius: 100px;  /* 100px of height + 10px of border */
    border-top-right-radius: 100px; /* 100px of height + 10px of border */
    border-bottom-left-radius: 100px;  /* 100px of height + 10px of border */
    border-bottom-right-radius: 100px;
    border: 1px solid rgb(185, 185, 185);
    text-align: center;
    padding: 0px;
    margin: 25px auto;
}

.input-group:hover {
    box-shadow: rgba(141, 141, 141, 0.2) 4px 4px 6px 0px;
}

.icon {
    display: inline-block;
    vertical-align: middle;
}

#search-icon {
    width: 22px;
    height: 22px;
    margin-right: 5px;
}

#input-search {
    display: inline-block;
    height: 34px;
    width: 480px;
    border: 0px;
    padding: 5px;
    margin: 1px 0px;
    font-size: medium;
}

#input-search:focus {
    outline: none;
}

#voice-icon {
    height: 20px;
    margin: 0px 8px;
}

.btn-search {
    border: 1px solid white;
    height: 36px;
    padding: 0px 20px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin: 0px 6px;
    background-color:rgb(248, 248, 248);
}

.btn-search:hover {
    border: 1px solid rgb(218, 218, 218);
    box-shadow: rgba(141, 141, 141, 0.2) 2px 2px 1px 0px;
}

#buttons {
    margin-top: 30px;
}

#message {
    margin-top: 25px;
    color: rgb(24, 24, 24);
}

footer > div {
    height: 48px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 97px;
    width: 100%;
    min-width: 1000px;
    font-size: 15px;
    font-weight: 400;
    color: gray;
    line-height: 48px;
    background-color: rgb(238, 238, 238);
}

footer a {
    color: gray;
    padding: 0px 16px;
}

footer a:first-child {
    padding: 0px;
}

footer > div:first-child {
    border-bottom: 1px solid rgb(204, 204, 204);
}

footer > div {
    padding: 0px 25px;
}

.footer-left {
    float: left;
}

.footer-right {
    float: right;
}

